@model IEnumerable<MIS4200Team2.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Recognition Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueID)
        </td>
        <td>
            <span class="glyphicon glyphicon-edit"></span>@Html.ActionLink("Edit", "Edit", new { id=item.RecognitionID }) |
            <span class="glyphicon glyphicon-book"></span>@Html.ActionLink("Details", "Details", new { id=item.RecognitionID }) |
            <span class="glyphicon glyphicon-trash"></span>@Html.ActionLink("Delete", "Delete", new { id=item.RecognitionID })
        </td>
    </tr>
}

</table>
