@model IEnumerable<MIS4200Team2.Models.Users>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<table class="table table-bordered table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessUnit.unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usertitles.titleUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registeredDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.businessUnit.unit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.usertitles.titleUser)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.registeredDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.UsersID }) |
        @Html.ActionLink("Details", "Details", new { id = item.UsersID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.UsersID })
    </td>
</tr>
}

</table>
