@model MIS4200Team2.Models.CoreValues

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoreValues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoreValue1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreValue7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValue7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionValue7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionValue7)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoreValuesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
