@model IEnumerable<MIS4200Team2.Models.CoreValues>

@{
    ViewBag.Title = "Index";
}

<h2>Our Core Values</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionValue)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.CoreValuesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoreValuesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoreValuesID })*@
        </td>
    </tr>
}

</table>
